body{
    background-color: tan;
    /*background-image: url(whateverwhatever.com)*/
}
h1{
    text-align: center;
}

#steve-image {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    /*width: 80%; would make it 80% of the width of its parent element*/
}
#centered-box{
    height: 150px;
    width: 150px;
    border: 10px solid black; /* border shorthand */
    background-color: red;
    margin-left: auto;
    margin-right: auto;
}
#margin-auto-box{
    height: 150px;
    width: 150px;
    border: solid;
    background-color: blue;
    margin: 50px auto; /*When the shorthand margin property has two values, it sets margin-top and margin-bottom to the first value, and margin-left and margin-right to the second value.*/
    /*padding: 10px 0; shorthand for top bottom padding 10px, left right padding of 0*/
}
#vh-box{
    height: 1vh; /*vh stands for viewport height, 1vh = 1% viewport height, up to 100vh*/
    width: 150px;
    border: solid;
    background-color: green;
}
#rem-box{
    height: 150px;
    width: 150;
    border: solid;
    background-color: purple;
    display: block;
    margin: 0.5rem 0; /*The rem unit stands for root em, and is relative to the font size of the html element.*/
}

.item p{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    /*padding: 20px; achieves the same effect*/
    max-width: 500px;
}

.flavor, .dessert{ /*Multiple selectors, same rules*/
    text-align: left;
    width: 49%; /*display: inline-block will push one of these p elements to the next row if width were 50%*/
}

.price{
    text-align: right;
    width: 49%;
}

/*
fieldset{
    border: none;
}
*/