*{
    box-sizing: border-box; /*keeps the border and padding of an object WITHIN the container it's in, rather than extend beyond the container*/
    /*by default, the browser includes the border and padding when determining an element's size. this may lead to the overall size of an element being larger than what you explicitly enter*/
    /*To solve this, you could add a universal selector
    *{
        box-sizing: border-box;
    } */
}
body{
    background-color: tan;
    /*background-image: url(whateverwhatever.com)*/
}
h1{
    text-align: center;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    /*a font with a space would need to be wrapped in quotes, like "Open Sans", sans-serif*/
}
h3{
    font-weight: 800;
    /*this is also good if you wanted to make a class="bold" selector in css*/ 
}
#uppercase-transform{
    text-transform: uppercase;
}

#steve-image {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    /*width: 80%; would make it 80% of the width of its parent element*/
    /*width: max(250px, 25vw); would make the image 250px when the viewport is less than 1000px, and 25vw when the viewport is 1000px or more */
}
#centered-box{
    height: 150px;
    width: 150px;
    border: 10px solid black; /* border shorthand */
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    filter: blur(2px); /*blur*/
    box-shadow: 0 0 3px 3px #efb762; /* A box shadow is described by X and Y offsets relative to the element, blur and spread radius, and color. */
    /*transform: rotate(-0.6deg); */ /*counter-clockwise*/ 
}
#margin-auto-box{
    height: 150px;
    width: 150px;
    border: solid;
    background-color: blue;
    margin: 50px auto; /*When the shorthand margin property has two values, it sets margin-top and margin-bottom to the first value, and margin-left and margin-right to the second value.*/
    /*padding: 10px 0; shorthand for top bottom padding 10px, left right padding of 0*/
    /*padding 1px of padding would increase the overall size of the box to 152x152, since 1px is added to each side*/
    /*overflow: hidden; would keep the content from spilling over the padding, without chnaging the dimension */
}
#vh-box{
    height: 1vh; /*vh stands for viewport height, 1vh = 1% viewport height, up to 100vh*/
    width: 150px;
    border: solid;
    background-color: green;
}
#rem-box{
    height: 150px;
    width: 150;
    border: solid;
    background-color: purple;
    display: block;
    margin: 0.5rem 0; /*The rem unit stands for root em, and is relative to the font size of the html element.*/
}

.item p{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    /*padding: 20px; achieves the same effect*/
    max-width: 500px;
}

.flavor, .dessert{ /*Multiple selectors, same rules*/
    text-align: left;
    width: 49%; /*display: inline-block will push one of these p elements to the next row if width were 50%*/
}

.price{
    text-align: right;
    width: 49%;
}

#flex-box-example{
    display: flex;
}

/*
fieldset{
    border: none;
}
*/