/* body */
body {
    background-color: gray;
    color: white;
  }
.nav-link{
  background-color: tan;
}

  a:hover{
  background: white;
  color: cyan;
}  
/* your project needs a media query. Idk I'll do it later.