body{
    display: flex;
    justify-content: center;
    background: white;
  }
  #header{
    text-align: center;
    border: solid;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  #img-div{
    text-align: center;
    border: solid;
  }
  
  #image {
    max-width: 100%;
    max-height: 400px;
    height: auto;
    display: block;
    margin: auto;
  }
  
  #related-links{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
  }
  
  .links{
    color: blue;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .links:hover{
    background-color: red;
  }
  /*TO DO: Link class*/
  /*
  Longer To Do: 
  
  */